<div>
<!--    <div v-if="showFilter"-->
<!--         class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover"-->
<!--         id="modal-id">-->
<!--        <div class="absolute bg-black opacity-50 inset-0 z-0"></div>-->
<!--        <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">-->
<!--            &lt;!&ndash;content&ndash;&gt;-->
<!--            <div class="">-->
<!--                &lt;!&ndash;body&ndash;&gt;-->
<!--                <div class="text-center p-5 flex-auto justify-center">-->
<!--                    <h2 class="text-xl font-bold py-4 ">-->
<!--                        titulo-->
<!--                    </h2>-->
<!--                    <div @click="showFilter = false">-->
<!--                        x-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div>-->
<!--                            <label for="isPayment">-->
<!--                                Pagos-->
<!--                                <input id="isPayment" :value="true" v-model="isPayments" type="radio">-->
<!--                            </label>-->
<!--                            <label for="notPayment">-->
<!--                                No pagos-->
<!--                                <input id="notPayment" :value="false" v-model="isPayments" type="radio">-->
<!--                            </label>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                <div class="p-3  mt-2 text-center space-x-4 md:block">-->
<!--                    <button-->
<!--                            @click="showFilter = false"-->
<!--                            class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100">-->
<!--                        Aplicar-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div>
        <h1>ÚLTIMOS MOVIMIENTOS:</h1>
        <div>
            <label for="isPayment">
                Pagos
                <input id="isPayment" :value="true" v-model="isPayments" type="radio">
            </label>
            <label for="notPayment">
                No pagos
                <input id="notPayment" :value="false" v-model="isPayments" type="radio">
            </label>
        </div>
<!--        <button @click="showFilter = true">FILTRO</button>-->
    </div>

    <div v-for="(movement, index) in movements">
        <div>
            <span v-if="movement.transaction_type === 'loan_disbursement'">Desembolso de prestamo</span>
            <span v-if="movement.transaction_type === 'create_guarantee_request' && movement.state === 'aceptada'">Garantía pre-aprobada</span>
            <span v-if="movement.transaction_type === 'create_guarantee_request' && movement.state === 'rechazada'">Garantía rechazada</span>
            <span v-if="movement.transaction_type === 'create_guarantee_request' && movement.state === 'creada'">Garantía en proceso de pre-aprobación</span>
            <span v-if="movement.transaction_type === 'approve_guarantee_request' && movement.state === 'aceptada'">Garantía aprobada</span>
            <span v-if="movement.transaction_type === 'approve_guarantee_request' && movement.state === 'rechazada'">Garantía rechazada</span>
            <span v-if="movement.transaction_type === 'approve_guarantee_request' && movement.state === 'creada'">Garantía en proceso de estudio</span>
            <span v-if="movement.transaction_type === 'loan_proposal' && movement.state === 'aceptada'">Propuesta de préstamo aceptada</span>
            <span v-if="movement.transaction_type === 'loan_proposal' && movement.state === 'rechazada'">Propuesta en proceso de estudio</span>
            <span v-if="movement.transaction_type === 'loan_request'">Solicitud de préstamo - {{ movement.state }}</span>
            <span v-if="movement.payment_type === 'interest'">Pago de intereses</span>
            <span v-if="movement.payment_type === 'capital'">Pago de capital</span>
            ({{ movement.creation_date }})
        </div>
        <div @click="isDetailMovement = index"> +</div>
        <div @click="isDetailMovement = -1" v-if="isDetailMovement === index">
            <span> {{ movement.amount }}</span>
            <span> {{ movement.state }}</span>
        </div>
    </div>
</div>