<div>
    <div v-if="isToUpdate">
        <h2>Se ha enviado un codigo de confirmacion</h2>
        <div>
            <input v-model="sensitiveData.temporal_code" type="text" placeholder="Código temporal">
        </div>
        <button  @click="updateSensitiveInformation">Actualizar informacion</button>
        <button  @click="getCode">Reenviar codigo</button>
    </div>
    <div v-else>
        <div>
            <div>
                <input v-model="sensitiveData.cell_phone" type="text" placeholder="Número de celular">
            </div>
            <div>
                <input v-model="sensitiveData.email" type="text" placeholder="Email">
            </div>
            <div>
                <label for="mfa_email">
                    Verificación por email
                    <input v-model="sensitiveData.mfa_email" id="mfa_email" type="checkbox" >
                </label>
                <label for="mfa_phone">
                    Verificación por teléfono
                    <input v-model="sensitiveData.mfa_phone" id="mfa_phone" type="checkbox" >
                </label>
            </div>
            <div>
                <input v-model="sensitiveData.password" type="text" placeholder="Contraseña">
            </div>
        </div>
        <button @click="getCode">Enviar / Guardar</button>
    </div>
</div>